UserPrefs.json
BuildSettings.json
Cache/*
AtomicNET/*
Resources/FeatureExamples.dll*
*.pak
CPlusPlus/Android/.cxx
CPlusPlus/Android/.gradle
CPlusPlus/Android/.idea
CPlusPlus/Android/build
CPlusPlus/Android/gradle/wrapper